# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# 'binary files differ'
*.exe
*.ilk
*.pdb
*.sdf
*.tlog
*.obj
*.idb
*.suo
*.log